.button {
  padding: 0.8rem;
  background-color: var(--textColor);
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 500;
  border: none;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.button-outlined {
  background-color: transparent;
  color: var(--textColor);
  border: 2px solid var(--textColor);
  padding: 0.8rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  cursor: pointer;
}

.button-outlined:hover {
  box-shadow: 5px 5px 10px var(--textColor);
}

.button:hover {
  box-shadow: 5px 5px 10px var(--textColor);
}
